.user_block {
	padding: 3.2rem var(--user-block-vertical-indent) 3.8rem;
	background-color: $white;

	box-shadow: 0 0 3rem 0 rgba($blue_1, 0.05);

	@include bp($point_2, min) {
		border-radius: 2.8rem;
	}
}

.user_block__top {
	&:not(:last-child) {
		margin-bottom: 3.2rem;
	}

	@include bp($point_5, min) {
		@include flex_block(row, wrap, flex-start, flex-start, flex-start);
	}

	@include bp($point_5 - 1) {
		@include flex_block(column, wrap, flex-start, flex-start, flex-start);
	}
}

.user_block__title_wrap {
	@include bp($point_3) {
		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}
	}
}

.user_block__title {
	font-weight: 600;
	letter-spacing: -0.01em;

	@include bp($point_2, min) {
		font-size: 2.2rem;
	}

	@include bp($point_3) {
		font-size: 1.8rem;
	}

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 1.1rem;
		}

		@include bp($point_3) {
			margin-bottom: 0.6rem;
		}
	}
}

.user_block__subtitle {
	letter-spacing: -0.01em;
	color: $green_1;

	@include bp($point_2, min) {
		font-size: 1.4rem;
	}

	@include bp($point_3) {
		font-size: 1.2rem;
	}
}

.user_block__search {
	position: relative;

	@include bp($point_5, min) {
		margin-left: auto;
	}

	@include bp($point_5 - 1) {
		width: 100%;
	}
}

.user_block__search_icon_wrap {
	position: absolute;
	top: 50%;
	left: 0.7rem;

	width: 2.4rem;
	height: 2.4rem;

	color: $gray_1;

	transform: translateY(-50%);
}

.user_block__table {
	width: 100%;

	thead tr,
	tbody tr {
		position: relative;

		&:before {
			position: absolute;

			bottom: 0;
			z-index: 0;

			height: 0.1rem;

			content: '';

			background-color: $gray_3;
		}
	}

	thead tr {
		@include bp($point_3) {
			display: none;
		}

		&::before {
			left: calc(var(--user-block-vertical-indent) * -1);
			width: calc(100% + var(--user-block-vertical-indent) * 2);
		}
	}

	tbody {
		@include bp($point_3, $point_6) {
			@include flex_block(row, wrap, flex-start, flex-start, flex-start);
		}
	}

	tbody tr {
		@include bp($point_3) {
			@include flex_block(column, wrap, flex-start, flex-start, flex-start);
		}

		@include bp($point_3, $point_6) {
			width: 50%;
		}

		@include bp($point_6 - 1) {
			width: 100%;
		}

		&:not(:last-child) {
			@include bp($point_3) {
				margin-bottom: 1.6rem;
			}
		}

		&::before {
			left: 0;
			width: 100%;

			@include bp($point_3) {
				bottom: -0.8rem;
			}
		}
	}

	th,
	td {
		font-weight: 500;

		&:not(:nth-child(6n + 1)) {
			@include bp($point_2, min) {
				padding: 1rem;
			}

			@include bp($point_3) {
				padding: 0.4rem 1.4rem 0.4rem 0;
			}
		}

		&:nth-child(6n + 1) {
			@include bp($point_2, min) {
				width: 18%;
				padding-left: 0;
			}
		}

		&:nth-child(6n + 2) {
			@include bp($point_2, min) {
				width: 15%;
			}
		}

		&:nth-child(6n + 3) {
			@include bp($point_2, min) {
				width: 17.4%;
			}
		}

		&:nth-child(6n + 4) {
			@include bp($point_2, min) {
				width: 23.4%;
			}
		}

		&:nth-child(6n + 5) {
			@include bp($point_2, min) {
				width: 15%;
			}
		}

		&:nth-child(6n + 6) {
			@include bp($point_2, min) {
				flex-grow: 1;
			}

			text-align: center;
		}

		&:not(:nth-child(6n + 6)) {
			text-align: left;
		}

		@include bp($point_2, min) {
			font-size: 1.4rem;
		}

		@include bp($point_3) {
			width: 100%;

			font-size: 1.4rem;
		}
	}

	th {
		color: $gray_2;
	}

	tbody td {
		@include bp($point_2, min) {
			height: 6.9rem;
			vertical-align: middle;
		}
	}

	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 2.6rem;
		}

		@include bp($point_3) {
			margin-bottom: 4.6rem;
		}
	}
}

.user_block__table_mark {
	width: 8rem;
	height: 3rem;

	padding: 0 0.6rem;
	border: 1px solid transparent;
	border-radius: 0.4rem;

	@include bp($point_2, min) {
		line-height: 3rem;

		margin: 0 auto;
	}

	@include bp($point_3) {
		line-height: 2.8rem;
	}

	&.user_block__table_mark--active-mod {
		border-color: $green_1;
		background-color: rgba($green_2, 0.38);
		color: $green_3;
	}

	&.user_block__table_mark--inactive-mod {
		border-color: $red_1;
		background-color: $red_2;
		color: $red_1;
	}
}

.user_block__bottom {
	@include bp($point_2, min) {
		@include flex_block(row, wrap, flex-start, center, flex-start);
	}

	@include bp($point_3) {
		@include flex_block(column, wrap, center, center, center);
	}
}

.user_block__user_quantity {
	font-size: 1.4rem;
	font-weight: 500;
	color: $gray_2;

	&:not(:last-child) {
		@include bp($point_3) {
			margin-bottom: 1.6rem;
		}
	}
}

@import 'pagination';
